server:
  port: ${PORT:8080}

spring:
  rabbitmq:
    host: ${SPRING_RABBITMQ_HOST:localhost}
    port: ${SPRING_RABBITMQ_PORT:5672}
    username: ${SPRING_RABBITMQ_USERNAME:app}
    password: ${SPRING_RABBITMQ_PASSWORD:app}
  application:
    name: gateway-service
  main:
    web-application-type: reactive
  cloud:
    consul:
      host: ${SPRING_CLOUD_CONSUL_HOST:consul}
      port: ${SPRING_CLOUD_CONSUL_PORT:8500}
      discovery:
        enabled: true
        register: true
        prefer-ip-address: true
        instance-id: ${spring.application.name}-${random.value}
        service-name: ${spring.application.name}
        health-check-path: /actuator/health
        health-check-interval: 10s
    gateway:
      globalcors:
        add-to-simple-url-handler-mapping: true
        cors-configurations:
          '[/**]':
            allowedOriginPatterns:
              - "*"
            allowedMethods:
             - GET
             - POST
             - PUT
             - DELETE
             - OPTIONS
            allowedHeaders:
             - "*"
            allowCredentials: true
            maxAge: 3600
      routes:
        - id: catalog_actuator
          uri: lb://catalog-service
          predicates:
            - Path=/api/catalog/actuator/**
          filters:
            - StripPrefix=2
          order: -1

        - id: catalog
          uri: lb://catalog-service
          predicates:
            - Path=/api/catalog/**
          filters:
            - StripPrefix=1

        - id: basket
          uri: lb://basket-service
          predicates:
            - Path=/api/basket/**
          filters:
            - StripPrefix=2

        - id: pricing
          uri: lb://pricing-service
          predicates:
            - Path=/api/pricing/**
          filters:
            - StripPrefix=2

        - id: budget
          uri: lb://budget-service
          predicates:
            - Path=/api/budget/**
          filters:
            - StripPrefix=2

management:
  endpoints:
    web:
      exposure:
        include: health,info,gateway

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
