name: budgettracker
services:
  rabbitmq-dev:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - '5672:5672'
      - '15672:15672'
    environment:
      RABBITMQ_DEFAULT_USER: app
      RABBITMQ_DEFAULT_PASS: app
      RABBITMQ_DEFAULT_VHOST: /
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 5s
      timeout: 3s
      retries: 20
    networks:
      - micro_card

  consul-dev:
    image: hashicorp/consul:1.19.2
    container_name: consul
    ports:
      - '8500:8500'
    command: 'agent -dev -node=cards -client=0.0.0.0 -log-level=ERROR'
    healthcheck:
      test: [ "CMD", "consul", "members" ]
      interval: 5s
      timeout: 3s
      retries: 10
    networks:
      - micro_card

  #  consul-importer:
  #    image: consul-importer:1.19.2
  #    depends_on:
  #      - consul-dev
  #    networks:
  #      - micro_card

  db:
    image: postgres:16
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./initdb:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 5s
      timeout: 3s
      retries: 10
    networks:
      - micro_card

  catalog:
    build:
      context: ../backend/catalog-service
      dockerfile: Dockerfile
    environment:
      SPRING_RABBITMQ_HOST: rabbitmq
      RABBITMQ_DEFAULT_USER: app
      RABBITMQ_DEFAULT_PASS: app
      RABBITMQ_DEFAULT_VHOST: /
      OFF_API_BASE_URL: https://world.openfoodfacts.org
      OFF_USER_AGENT: budget-tracker/1.0 lucashammerstad@gmail.com
      SERVER_PORT: 9001
      MANAGEMENT_SERVER_PORT: 9001
      MANAGEMENT_ENDPOINTS_WEB_EXPOSURE_INCLUDE: health,info,mappings
      SPRING_APPLICATION_NAME: catalog-service
      SPRING_CLOUD_CONSUL_HOST: consul
      SPRING_CLOUD_CONSUL_PORT: 8500
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/catalog_db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
      SPRING_CLOUD_CONSUL_DISCOVERY_PREFER_IP_ADDRESS: true
      SPRING_CLOUD_CONSUL_DISCOVERY_INSTANCE_ID: "$${spring.application.name}-$${HOSTNAME}"
      SPRING_CLOUD_CONSUL_DISCOVERY_HEALTH_CHECK_INTERVAL: 10s
      SPRING_CLOUD_CONSUL_DISCOVERY_HEARTBEAT_ENABLED: true
      SPRING_CLOUD_CONSUL_DISCOVERY_HEALTH_CHECK_CRITICAL_TIMEOUT: 30s
    depends_on:
      db: { condition: service_healthy }
      rabbitmq-dev: { condition: service_healthy}
      consul-dev: { condition: service_healthy}
    expose: ["9001"]
    networks: [micro_card]
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://localhost:9001/actuator/health"]
      interval: 10s
      timeout: 3s
      retries: 20

  basket:
    build:
      context: ../backend/basket-service
      dockerfile: Dockerfile
    environment:
      SPRING_RABBITMQ_HOST: rabbitmq
      RABBITMQ_DEFAULT_USER: app
      RABBITMQ_DEFAULT_PASS: app
      RABBITMQ_DEFAULT_VHOST: /
      PORT: 9002
      SPRING_APPLICATION_NAME: basket-service
      SPRING_CLOUD_CONSUL_HOST: consul
      SPRING_CLOUD_CONSUL_PORT: 8500
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/basket_db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
      SPRING_CLOUD_CONSUL_DISCOVERY_PREFER_IP_ADDRESS: true
      SPRING_CLOUD_CONSUL_DISCOVERY_INSTANCE_ID: "$${spring.application.name}-$${HOSTNAME}"
      SPRING_CLOUD_CONSUL_DISCOVERY_HEALTH_CHECK_INTERVAL: 10s
      SPRING_CLOUD_CONSUL_DISCOVERY_HEARTBEAT_ENABLED: true
      SPRING_CLOUD_CONSUL_DISCOVERY_HEALTH_CHECK_CRITICAL_TIMEOUT: 30s
    depends_on:
      db: { condition: service_healthy }
      rabbitmq-dev: { condition: service_healthy }
      consul-dev: { condition: service_healthy }
    expose: [ "9002" ]
    networks: [ micro_card ]
    healthcheck:
      test: [ "CMD", "wget", "-qO-", "http://localhost:9002/actuator/health" ]
      interval: 10s
      timeout: 3s
      retries: 20

  pricing:
    build:
      context: ../backend/pricing-service
      dockerfile: Dockerfile
    environment:
      SPRING_RABBITMQ_HOST: rabbitmq
      RABBITMQ_DEFAULT_USER: app
      RABBITMQ_DEFAULT_PASS: app
      RABBITMQ_DEFAULT_VHOST: /
      PORT: 9003
      SPRING_APPLICATION_NAME: pricing-service
      SPRING_CLOUD_CONSUL_HOST: consul
      SPRING_CLOUD_CONSUL_PORT: 8500
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/pricing_db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
      SPRING_CLOUD_CONSUL_DISCOVERY_PREFER_IP_ADDRESS: true
      SPRING_CLOUD_CONSUL_DISCOVERY_INSTANCE_ID: "$${spring.application.name}-$${HOSTNAME}"
      SPRING_CLOUD_CONSUL_DISCOVERY_HEALTH_CHECK_INTERVAL: 10s
      SPRING_CLOUD_CONSUL_DISCOVERY_HEARTBEAT_ENABLED: true
      SPRING_CLOUD_CONSUL_DISCOVERY_HEALTH_CHECK_CRITICAL_TIMEOUT: 30s
    depends_on:
      db: { condition: service_healthy }
      rabbitmq-dev: { condition: service_healthy }
      consul-dev: { condition: service_healthy }
    expose: [ "9003" ]
    networks: [ micro_card ]
    healthcheck:
      test: [ "CMD", "wget", "-qO-", "http://localhost:9003/actuator/health" ]
      interval: 10s
      timeout: 3s
      retries: 20

  budget:
    build:
      context: ../backend/budget-service
      dockerfile: Dockerfile
    environment:
      SPRING_RABBITMQ_HOST: rabbitmq
      RABBITMQ_DEFAULT_USER: app
      RABBITMQ_DEFAULT_PASS: app
      RABBITMQ_DEFAULT_VHOST: /
      PORT: 9004
      SPRING_APPLICATION_NAME: budget-service
      SPRING_CLOUD_CONSUL_HOST: consul
      SPRING_CLOUD_CONSUL_PORT: 8500
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/budget_db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
      SPRING_CLOUD_CONSUL_DISCOVERY_PREFER_IP_ADDRESS: true
      SPRING_CLOUD_CONSUL_DISCOVERY_INSTANCE_ID: "$${spring.application.name}-$${HOSTNAME}"
      SPRING_CLOUD_CONSUL_DISCOVERY_HEALTH_CHECK_INTERVAL: 10s
      SPRING_CLOUD_CONSUL_DISCOVERY_HEARTBEAT_ENABLED: true
      SPRING_CLOUD_CONSUL_DISCOVERY_HEALTH_CHECK_CRITICAL_TIMEOUT: 30s
    depends_on:
      db: { condition: service_healthy }
      rabbitmq-dev: { condition: service_healthy }
      consul-dev: { condition: service_healthy }
    expose: [ "9004" ]
    networks: [ micro_card ]
    healthcheck:
      test: [ "CMD", "wget", "-qO-", "http://localhost:9004/actuator/health" ]
      interval: 10s
      timeout: 3s
      retries: 20

  gateway:
    build:
      context: ../backend/gateway-service
      dockerfile: Dockerfile
    environment:
      SPRING_RABBITMQ_HOST: rabbitmq
      RABBITMQ_DEFAULT_USER: app
      RABBITMQ_DEFAULT_PASS: app
      RABBITMQ_DEFAULT_VHOST: /
      PORT: 8080
      SERVER_PORT: 8080
      SPRING_APPLICATION_NAME: gateway-service
      SPRING_WEB_RESOURCES_STATIC_LOCATIONS: file:/app/static/
      SPRING_CLOUD_CONSUL_HOST: consul
      SPRING_CLOUD_CONSUL_PORT: 8500
      SPRING_CLOUD_CONSUL_DISCOVERY_PREFER_IP_ADDRESS: true
      SPRING_CLOUD_CONSUL_DISCOVERY_INSTANCE_ID: "$${spring.application.name}-$${HOSTNAME}"
      SPRING_CLOUD_CONSUL_DISCOVERY_HEALTH_CHECK_INTERVAL: 10s
      SPRING_CLOUD_CONSUL_DISCOVERY_HEARTBEAT_ENABLED: true
      SPRING_CLOUD_CONSUL_DISCOVERY_HEALTH_CHECK_CRITICAL_TIMEOUT: 30s
    volumes:
      - ../frontend/dist:/app/static:ro
    depends_on:
      consul-dev: { condition: service_healthy }
      catalog: { condition: service_healthy }
      basket: { condition: service_healthy }
      pricing: { condition: service_healthy }
      budget: { condition: service_healthy }
    ports: [ "8080:8080" ]
    networks: [ micro_card ]
    healthcheck:
      test: ["CMD", "curl", "-fsS", "http://localhost:8080/actuator/health"]
      interval: 10s
      timeout: 3s
      retries: 10
      start_period: 15s


networks:
  micro_card:
    driver: bridge

volumes:
  pgdata: